.footer{

    background:#0f172a;

    color:white;

    padding-top:60px;

    margin-top:80px;

}

.footer-container{

    width:90%;

    max-width:1300px;

    margin:auto;

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:40px;

    padding-bottom:50px;

}

.footer-section h2{

    margin-bottom:20px;

    color:#38bdf8;

}

.footer-section h3{

    margin-bottom:20px;

    color:#38bdf8;

}

.footer-section p{

    line-height:1.8;

    color:#cbd5e1;

}

.footer-section ul{

    list-style:none;

}

.footer-section ul li{

    margin-bottom:12px;

}

.footer-section ul li a{

    text-decoration:none;

    color:#cbd5e1;

    transition:.3s;

}

.footer-section ul li a:hover{

    color:#38bdf8;

    padding-left:8px;

}

.social-icons{

    display:flex;

    flex-direction:column;

    gap:12px;

}

.social-icons a{

    text-decoration:none;

    color:#cbd5e1;

    transition:.3s;

}

.social-icons a:hover{

    color:#38bdf8;

    transform:translateX(8px);

}

.footer-bottom{

    border-top:1px solid rgba(255,255,255,.15);

    text-align:center;

    padding:20px;

    color:#94a3b8;

    font-size:.95rem;

}