body {

  margin:0;

  font-family: Arial, sans-serif;

  background:#F5F7FA;

  color:#263238;

}



.app-container {

  min-height:100vh;

}



.app-title {

  text-align:center;

  color:#1565C0;

  font-size:40px;

}



.app-description {

  text-align:center;

  color:#546E7A;

}



button {

  background:#2E7D32;

  color:white;

  border:none;

  padding:12px 25px;

  border-radius:8px;

  cursor:pointer;

  font-size:16px;

}



button:hover {

  background:#1B5E20;

}